

.swiper-button-prev {
  left: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #a0a0a0;
  border-radius: 60px;
  color: #000;
  font-size: 20px;
  top: 50%;
}

.swiper-button-next {
  left: auto;
  width: 45px;
  height: 45px;
  border: 1px solid #a0a0a0;
  border-radius: 60px;
  color: #000;
  font-size: 20px;
  top: 50%;
}

.swiper-button-next:after {
  font-size: 16px;
}

.swiper-button-prev:after {
  font-size: 16px;
}




.btn-primary {
  background-color: #ef5b2400;
}

.s_button1 {
  background-color: #ef5b2400;
}

.s_button1:hover {
  background-color: #ef5b2400;
}

#home-banner {
  min-height: 0px;
  width: auto;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 1);
  max-width: 100%;
  padding-top: 0px;
}

#home-banner .e_bannerA-2 .p_img {
  width: 100%;
}

#home-banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
  border-radius: 50px;
  width: 25px;
  border-radius: 50px;
}

#home-banner .e_bannerA-2 .p_img img {
  width: 100%;
  object-fit: cover;
}

#home-banner .e_bannerA-2 .custom-bullet {
  background: #ccc;
}

#home-banner .e_bannerA-2 .p_info {
  width: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 9;
  display: flex;
  transform: translateX(50%) translateY(-50%);
  align-items: center;
  text-align: center;
  display: none;
}

#home-banner .e_bannerA-2 .p_info div {
  width: 100%;
}

#home-banner .e_bannerA-2 .p_subtitle {
  line-height: 2;
  padding: 5px 0;
}

#home-banner .e_bannerA-2 .swiper-container-vertical {
  height: 400px;
}

#home-banner .e_bannerA-2 {
  max-width: 100%;
  width: auto;
}

#home-banner .e_bannerA-2 .p_video video {
  width: 99.9%;
  height: 100vh;
  max-height: 772px;
  object-fit: cover;
  background: #000;
}

@media screen and (max-width: 768px) {
  #home-banner .e_bannerA-2 .p_info {
    width: 100%;
    z-index: 9;
    text-align: center;
  }

  #home-banner .e_bannerA-2 .p_subtitle {
    display: none;
  }

  #home-banner .e_bannerA-2 .p_summary {
    display: none;
  }

  #home-banner .swiper-button-next:after,
  #home-banner .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 15px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }

  #home-banner .e_bannerA-2 {
    background_radio: 1;
    margin-top: 0px;
    padding-top: 0px;
  }

  #home-banner {
    padding-top: 0px;
    max-width: none;
    margin-top: 0px;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  #home-banner .e_bannerA-2 .p_img img {
    height: 335px;
  }
}

@media screen and (min-width: 769px) {
  #home-banner .swiper-button-next,
  #home-banner .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 60px;
    border: solid 1px rgb(238 238 238 / 29%);
    border-radius: 50px;
    height: 60px;
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 1001;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  #home-banner .swiper-button-next:after,
  #home-banner .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 20px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
}

#home-category-title {
  min-height: 0px;
  padding-top: 5%;
  padding-bottom: 3%;
}

#home-category-title .e_container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#home-category-title .e_container-1 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-category-title .e_container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#home-category-title .e_container-2 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-category-title .e_image-3 {
  overflow: hidden;
  text-align: right;
  padding-right: 24px;
}

#home-category-title .e_image-3 img {
  width: 32px;
  height: 32px;

  object-fit: contain;
}

#home-category-title .e_text-4 {
  text-align: center;
  font-size: 26px;
  color: rgba(238, 116, 31, 1);
}

#home-category-title .e_text-5 {
  line-height: normal;
  font-size: 32px;
  text-align: center;
}

#home-category-title .e_container-2 .cbox-2-0 {
  align-self: center;
}

@media screen and (max-width: 768px) {
  #home-category-title .e_text-4 {
    font-size: 18px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-category-title .e_container-2 {
    max-width: 206px;
  }

  #home-category-title .e_container-2 .cbox-2-1 {
    align-self: center;
  }

  #home-category-title .e_image-3 {
    max-width: 90px;
  }

  #home-category-title .e_text-5 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-category-title .e_text-5 {
    font-size: 26px;
    color: #333333;
    line-height: 1.5;
  }

  #home-category-title .e_text-4 {
    font-size: 22px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }
}

#home-category-content {
  min-height: 0px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: auto;
}

#home-category-content .e_html-2 {
  
  min-height: 0px;
}

body[style="overflow: hidden;"] .team {
  background-attachment: inherit;
}

@media screen and (max-width: 768px) {
  #home-category-content {
    min-height: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
}

#home-products-title {
  min-height: 0px;
  padding-top: 5%;
  padding-bottom: 3%;
}

#home-products-title .e_container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#home-products-title .e_container-1 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-products-title .e_container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#home-products-title .e_container-2 > .p_item {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

#home-products-title .e_image-3 {
  overflow: hidden;
  max-width: 105px;
}

#home-products-title .e_image-3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#home-products-title .e_text-4 {
  text-align: center;
  font-size: 22px;
  color: rgba(238, 116, 31, 1);
}

#home-products-title .e_text-5 {
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
}

#home-products-title .e_container-2 .cbox-2-0 {
  align-self: center;
}

@media screen and (max-width: 768px) {
  #home-products-title .e_text-4 {
    font-size: 18px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-products-title .e_container-2 {
    max-width: 206px;
  }

  #home-products-title .e_container-2 .cbox-2-1 {
    align-self: center;
  }

  #home-products-title .e_image-3 {
    max-width: 90px;
  }

  #home-products-title .e_text-5 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-products-title .e_text-5 {
    font-size: 26px;
    color: #333333;
    line-height: 1.5;
  }

  #home-products-title .e_text-4 {
    font-size: 22px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-products-title {
  }
}

#home-products-content {
  padding: 60px 15px;
  padding-left: 0px;
  padding-right: 0px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#home-products-content .e_loop-41 .p_list {
  width: 100%;
  margin: 0 auto 0px;
  display: flex;
  justify-content: space-between;
}

#home-products-content .e_loop-41 .p_list > div {
  border-radius: 15px;
  width: 100%;
  margin: 0 5px;
  transition: all ease 0.3s;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#home-products-content .e_loop-41 .p_list > div.cur,
#home-products-content .e_loop-41 .p_list > div:hover {
  background: #f3f3f3;
}

#home-products-content .e_loop-41 .p_list .s_title {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: rgb(0 0 0 / 70%);
}

#home-products-content .e_loop-41 .p_list .s_img {
  text-align: center;
  margin-bottom: 15px;
}

#home-products-content .e_loop-46 {
  max-width: none;
  margin: 0 auto 0px;
  background-color: rgba(243, 243, 243, 1);
  min-width: 0px;
  width: auto;
  border-radius: 15px;
  margin-top: 30px;
}

#home-products-content .e_loop-46 .p_list {
  position: relative;
  display: block;
  width: 100%;
}

#home-products-content .e_loop-46 .p_list > div {
  transition: all ease 0.8s;
  display: none;
  padding: 40px 0 0;
}

#home-products-content .e_loop-46 .p_list > div.cur {
  display: block;
}

#home-products-content .e_container-47 {
  display: flex !important;
  justify-content: space-between;
  opacity: 1 !important;
  display-radio: flex !important;
}

#home-products-content .e_container-47 > div {
  width: 100%;
  overflow: hidden;
}

#home-products-content .e_container-47 .cbox-47-1 {
  padding: 40px 0 0 0;
}

#home-products-content .cbox-47-1 > div {
  display: flex !important;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#home-products-content .cbox-47-1 > div > div {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-products-content .cbox-47-1 > div .s_img img {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

#home-products-content .cbox-47-1 > div .s_title {
  color: #2986b3;
  line-height: 1;
  font-size: 14px;
}

#home-products-content .e_image-60 {
  overflow: hidden;
}

#home-products-content .e_image-60 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

#home-products-content .cbox-47-1 > div > div .s_img {
  line-height: 1;
}

#home-products-content .e_html-61 {
  min-height: 0px;
  background_radio: 1;
}

#home-products-content .e_image-44 {
  overflow: hidden;
  width: auto;
  max-width: 104px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

#home-products-content .e_loop-41 {
  width: auto;
  max-width: none;
  padding-left: 0px;
  padding-right: 0px;
}

#home-products-content .e_text-62 {
  line-height: normal;
  color: #ef5b24;
  font-size: 30px;
  text-align: center;
}

#home-products-content .e_text-64 {
  line-height: normal;
  color: #ef5b24;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home-products-content .e_container-43 {
  width: auto;
  padding-right: 0px;
  max-width: none;
  padding-left: 0px;
}

#home-products-content .e_text-65 {
  line-height: normal;
  font-size: 14px;
  padding-bottom: 20px;
}

#home-products-content .e_loop-41 .p_list .s_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  #home-products-content .e_loop-41 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 4);
  }

  #home-products-content {
    padding: 35px 15px;
  }

  #home-products-content .e_container-47 {
    flex-direction: column;
  }

  #home-products-content .e_container-47 > div {
    width: 100%;
  }

  #home-products-content .e_loop-41 .p_list > div {
    margin: 0 6px;
    border-radius: 8px;
  }

  #home-products-content .e_container-47 .cbox-47-1 {
    padding: 20px 0 0 0;
  }

  #home-products-content .cbox-47-1 > div .s_title {
    font-size: 12px;
  }

  #home-products-content .cbox-47-1 > div .s_img img {
    width: 16px;
    height: 16px;
  }

  #home-products-content .cbox-47-1 > div {
    margin-bottom: 6px;
  }

  #home-products-content .e_loop-41 .p_list .s_title {
    font-size: 12px;
  }

  #home-products-content .e_loop-41 .p_list .s_img {
    margin-bottom: 6px;
  }

  #home-products-content .e_loop-41 .p_list .s_img img {
    width: 80%;
  }

  #home-products-content .e_loop-41 .p_list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
  }

  #home-products-content .e_loop-46 .p_list > div {
    border-radius: 10px;
    padding: 20px;
  }

  #home-products-content .e_text-62 {
    font-size: 20px;
    color: #ef5b24;
    line-height: 1.5;
  }

  .cbox-41.p_tabico.js_editor_click {
    flex: 0 0 18%;
    position: relative;
  }

  #home-products-content .e_text-65 {
    font-size: 12px;
    color: #333333;
    line-height: 1;
  }
}

@media screen and (min-width: 769px) {
  #home-products-content .e_loop-41 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 12);
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-products-content .e_loop-41 .p_list > div {
    margin: 0 6px;
    padding: 15px;
  }

  #home-products-content .e_container-47 .cbox-47-1 {
    padding: 20px 0 0 0;
  }

  #home-products-content .cbox-47-1 > div .s_title {
    font-size: 12px;
  }

  #home-products-content .cbox-47-1 > div .s_img img {
    width: 16px;
    height: 16px;
  }

  #home-products-content .cbox-47-1 > div {
    margin-bottom: 6px;
  }

  #home-products-content .e_loop-41 .p_list .s_title {
    font-size: 14px;
  }

  #home-products-content .e_loop-41 .p_list .s_img {
    margin-bottom: 6px;
  }

  #home-products-content .e_loop-41 .p_list {
    max-width: 960px;
  }
}

#home-about-us {
  min-height: 0px;
  margin-bottom: 4%;
  margin-top: 0px;
  padding-top: 20px;
  background_radio: 2;
}

#home-about-us .e_container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 94%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#home-about-us .e_container-1 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url(/home/images/home-big-global.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  margin-top: 10%;
}

#home-about-us .e_container-2 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_image-3 {
  overflow: hidden;
  max-width: none;
  border-radius: 20px;
}

#home-about-us .e_image-3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#home-about-us .e_container-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 694px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 0px;
  margin-left: auto;
}

#home-about-us .e_container-4 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_text-5 {
  line-height: normal;
  font-size: 30px;
}

#home-about-us .e_text-6 {
  line-height: normal;
  font-family: "a945e640-f179-4fd6-9f5e-1c9449c4f726";
  color: rgba(238, 116, 31, 1);
  font-size: 20px;
}

#home-about-us .e_richText-7 blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}

#home-about-us .e_richText-7 ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#home-about-us .e_richText-7 li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: inherit;
}

#home-about-us .e_richText-7 ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#home-about-us .e_richText-7 {
  font-size: 15px;
  color: #333333;
  line-height: 2;
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: justify;
  margin-right: 30px;
}

#home-about-us .e_text-9 {
  line-height: normal;
  color: #ef5b24;
  font-size: 16px;
  margin-bottom: 10%;
}

#home-about-us .e_container-10 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(243, 243, 244, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 3%;
}

#home-about-us .e_container-10 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_loop-11 .p_list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /*解决无缝滚动在循环体多列展示问题  */
  max-width: 100%; /* 解决无缝滚动在循环体多列展示问题 */
}

#home-about-us .e_loop-11 .p_loopitem {
  flex: 0 0 33.3%;
  position: relative;
}

#home-about-us .e_loop-11 .p_page {
  text-align: center;
}

#home-about-us .e_loop-11 .p_filter_wrapper {
  width: 100%;
  font-size: 13px;
}

#home-about-us .e_loop-11 .p_kv_wrapper {
  display: flex;
  flex-wrap: nowrap;
  line-height: 40px;
  margin: 15px 0;
}

#home-about-us .e_loop-11 .p_filter_key {
  /* min-width:80px;
*/
  width: 70px;
  overflow: hidden;
  margin-right: 10px;
  font-weight: bold;
  color: #333333;
  font-size: 12px;
}

#home-about-us .e_loop-11 .p_v_item {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  font-size: 13px;
  color: #555555;
  margin-right: 30px;
}

#home-about-us .e_loop-11 .p_active .p_fbutton {
  color: #fff;
  background-color: ef5b24; /* border-radius:2px;
*/
}

#home-about-us .e_loop-11 .p_result_item {
  position: relative;
  padding: 3px 20px 3px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

#home-about-us .e_loop-11 .p_filter_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  font-style: normal;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}

#home-about-us .e_loop-11 .p_s_option {
}

#home-about-us .e_loop-11 .multSelect {
  font-size: 13px;
  position: relative;
}

#home-about-us .e_loop-11 .multSelect .inputWrap {
  width: 100%;
  min-width: 100px;
  min-height: 24px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background: white;
}

#home-about-us
  .e_loop-11
  .multSelect.is-invalid
  .inputWrap {
  border-color: #dc3545;
}

#home-about-us .e_loop-11 .multSelect ul {
  padding: 0 5px;
  margin: 0;
  padding-right: 35px;
}

#home-about-us .e_loop-11 .multSelect ul,
li {
  list-style: none;
}

#home-about-us .e_loop-11 .multSelect li {
  display: inline-block;
  background: #edf0f3;
  color: #92969c;
  padding: 0px 5px;
  margin: 1px 5px 1px 0;
  border-radius: 5px;
  line-height: 16px;
}

#home-about-us .e_loop-11 .multSelect .multSelect-option {
  width: 100%;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  border-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  height: 0;
  opacity: 0;
  z-index: 9;
  background: #fff;
}

#home-about-us
  .e_loop-11
  .multSelect
  .multSelect-option
  > div {
  line-height: 24px;
  cursor: pointer;
  padding: 0 10px;
}

#home-about-us
  .e_loop-11
  .multSelect
  .multSelect-option
  > div.selected {
  color: #ef5b24;
}

#home-about-us
  .e_loop-11
  .multSelect
  .multSelect-option
  > div:hover {
  color: #ef5b24;
  background: #f3f6f9;
}

#home-about-us .e_loop-11 .multSelect .fa-close {
  font-style: normal;
  font-size: 12px;
  padding: 0 5px 0 7px;
}

#home-about-us
  .e_loop-11
  .multSelect
  .inputWrap
  > .fa
  svg {
  fill: #666;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 3px);
}

#home-about-us
  .e_loop-11
  .multSelect
  .inputWrap
  > .fa-down
  svg {
  transform: rotate(-90deg);
}

#home-about-us
  .e_loop-11
  .multSelect
  .inputWrap
  > .fa-up
  svg {
  transform: rotate(90deg);
}

#home-about-us .e_loop-11 .multSelect .placeholder {
  line-height: 40px;
  padding-left: 10px;
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
}

/* #home-about-us .e_loop-11 .p_filter_close::before {
content: "\2716";
}
*/
/* #home-about-us .e_loop-11 .p_filter_select {
width: 110px;
height: 24px;
padding: 0;
border: 1px solid #DCDFE6;
}
*/
#home-about-us .e_loop-11 .p_normal_start {
  display: inline;
  width: 100px;
  height: 40px;
}

#home-about-us .e_loop-11 .p_date_start {
  display: inline;
  width: 105px;
  height: 40px;
}

#home-about-us .e_loop-11 .p_normal_end {
  display: inline;
  width: 100px;
  height: 40px;
  margin-right: 5px;
}

#home-about-us .e_loop-11 .p_date_end {
  display: inline;
  width: 105px;
  height: 40px;
  margin-right: 5px;
}

#home-about-us .e_loop-11 .p_split {
  margin: 0 5px;
}

#home-about-us .e_loop-11 .p_normal {
  margin-right: 16px;
}

#home-about-us .e_loop-11 .p_fbutton {
  background-color: #ef5b24;
  border: 1px solid #ef5b24;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
}

#home-about-us .e_loop-11 .input-check,
#home-about-us .e_loop-11 .input-radio {
  margin: 0 5px;
  vertical-align: text-top;
}

#home-about-us .e_loop-11 .position-left {
  display: flex;
}

#home-about-us .e_loop-11 .position-right {
  display: flex;
  flex-direction: row-reverse;
}

#home-about-us .e_loop-11 .position-top {
  /* display:flex;
*/
}

#home-about-us .e_loop-11 .position-bottom {
  display: flex;
  flex-direction: column-reverse;
}

#home-about-us .e_loop-11 .p_mbutton {
  border: 1px solid #ef5b24;
  text-decoration: none;
  color: #ef5b24;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
}

#home-about-us .e_loop-11 .p_mbutton:after {
  content: "";
  display: none;
  width: 16px;
  height: 16px;
  background-color: #ef5b24;
  -webkit-transform: skewY(-45deg);
  transform: skewY(360deg);
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

#home-about-us .e_loop-11 .p_mbutton::before {
  content: "";
  display: none;
  width: 6px;
  height: 9px;
  border-right: #ffffff solid 2px;
  border-bottom: #ffffff solid 2px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  position: absolute;
  bottom: 5px;
  right: 4px;
  z-index: 2;
}

#home-about-us .e_loop-11 .p_active .p_mbutton::before {
  display: block;
}

#home-about-us .e_loop-11 .p_active .p_mbutton::after {
  display: block;
}

#home-about-us .e_loop-11 .p_input_match {
  width: 100px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

#home-about-us .e_loop-11 .p_filter_result {
  display: inline-block;
}

#home-about-us .e_loop-11 .p_contclear {
  cursor: pointer;
}

#home-about-us .e_loop-11 .swiper-container {
  padding-bottom: 30px;
}

#home-about-us .e_loop-11 .p_imgwrapper {
  width: 80px;
  height: 100px;
  overflow: hidden;
}

#home-about-us .e_loop-11 .p_imgtitle {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  line-height: 20px;
}

#home-about-us .e_loop-11 .p_imgwrapper img {
  width: 100%;
  object-fit: cover;
}

#home-about-us .e_loop-11 .p_active .p_imgwrapper {
  border: 1px solid #ef5b24;
}

#home-about-us .e_loop-11 .p_filter_result {
  display: none;
}

#home-about-us .e_loop-11 .p_contclear {
  display: none;
}

#home-about-us .e_loop-11 .p_inputRangeSearch {
  padding: 7px 12px;
  background: #ef5b24;
  color: white;
  font-size: 14px;
  font-style: normal;
}

#home-about-us .e_loop-11 .p_inputSearch {
  padding: 0px 17px;
  background: #ef5b24;
  color: white;
  font-size: 14px;
  font-style: normal;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 10px;
}

#home-about-us .e_loop-11 .p_categoryActive {
  color: #ef5b24;
}

#home-about-us .e_container-12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

#home-about-us .e_container-12 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_text-13 {
  line-height: 1.5;
  font-weight: bold;
  color: #ef5b24;
  font-size: 20px;
}

#home-about-us .e_text-14 {
  line-height: 2;
  font-size: 16px;
}

#home-about-us .e_container-15 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: rgba(167, 167, 167, 1);
  padding-top: 0px;
  padding-bottom: 20px;
}

#home-about-us .e_container-15 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-about-us .e_container-15 .cbox-15-0 {
  flex: 0 0 30%;
  align-self: center;
}

#home-about-us .e_container-15 .cbox-15-1 {
  flex: 0 0 25%;
  align-self: center;
}

#home-about-us .e_image-16 img {
  object-fit: contain;
}

#home-about-us .e_container-15 .cbox-15-2 {
  align-self: center;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  #home-about-us .e_loop-11 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 1);
  }

  #home-about-us .e_container-1 {
    flex-direction: column;
  }

  #home-about-us .e_richText-7 {
    color: #333333;
    line-height: 2;
    font-size: 14px;
    margin-top: 10px;
  }

  #home-about-us .e_text-5 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }

  #home-about-us .e_text-13 {
    font-size: 16px;
    color: #ef5b24;
    line-height: 1.5;
  }

  #home-about-us .e_text-14 {
    font-size: 14px;
    color: rgba(94, 94, 94, 1);
    line-height: 1.5;
  }

  #home-about-us .e_container-10 {
    margin-bottom: 20px;
  }

  #home-about-us .e_text-6 {
    font-size: 16px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-about-us .e_text-9 {
    font-size: 14px;
    color: #ef5b24;
    line-height: 1.5;
  }

  #home-about-us .e_container-2 {
    margin-top: 10px;
  }

  #home-about-us .e_image-16 {
    width: 100px;
  }

  #home-about-us .e_container-15 {
  }

  #home-about-us .e_container-15 .cbox-15-0 {
    flex: 0 0 22%;
  }

  #home-about-us .e_container-15 .cbox-15-1 {
    padding-right: 0px;
    flex: 0 0 20%;
  }
}

@media screen and (min-width: 769px) {
  #home-about-us .e_loop-11 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 1);
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-about-us .e_container-1 .cbox-1-0 {
    flex: 0 0 55%;
    padding-right: 20px;
  }

  #home-about-us .e_image-16 {
    max-width: 120px;
  }

  #home-about-us .e_text-13 {
  }

  #home-about-us .e_container-15 {
  }

  #home-about-us .e_container-15 .cbox-15-0 {
    flex: 0 0 40%;
  }

  #home-about-us .e_container-15 .cbox-15-1 {
    flex: 0 0 20%;
  }

  #home-about-us .e_text-14 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
}

#c_static_001-16940818910940 {
  min-height: 0px;
  padding-top: 5%;
  padding-bottom: 3%;
  background_radio: 2;
}

#c_static_001-16940818910940 .e_container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#c_static_001-16940818910940 .e_container-1 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#c_static_001-16940818910940 .e_container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#c_static_001-16940818910940 .e_container-2 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#c_static_001-16940818910940 .e_image-3 {
  overflow: hidden;
  max-width: 105px;
}

#c_static_001-16940818910940 .e_image-3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#c_static_001-16940818910940 .e_text-4 {
  line-height: normal;
  font-size: 22px;
  color: rgba(238, 116, 31, 1);
}

#c_static_001-16940818910940 .e_text-5 {
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
}

#c_static_001-16940818910940 .e_container-2 .cbox-2-0 {
  align-self: center;
}

@media screen and (max-width: 768px) {
  #c_static_001-16940818910940 .e_text-4 {
    font-size: 18px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #c_static_001-16940818910940 .e_container-2 {
    max-width: 206px;
  }

  #c_static_001-16940818910940 .e_container-2 .cbox-2-1 {
    align-self: center;
  }

  #c_static_001-16940818910940 .e_image-3 {
    max-width: 90px;
  }

  #c_static_001-16940818910940 .e_text-5 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #c_static_001-16940818910940 .e_text-5 {
    font-size: 26px;
    color: #333333;
    line-height: 1.5;
  }

  #c_static_001-16940818910940 .e_text-4 {
    font-size: 22px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }
}

#c_new_list_167-1694081979007 .e_container-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 72px;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#c_new_list_167-1694081979007 {
  min-height: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_loopitem {
  flex: 0 0 33.3%;
  position: relative;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_page {
  text-align: center;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_filter_wrapper {
  width: 100%;
  font-size: 13px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_kv_wrapper {
  display: flex;
  flex-wrap: nowrap;
  line-height: 24px;
  margin: 15px 0;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_filter_key {
  width: 70px;
  overflow: hidden;
  margin-right: 10px;
  font-weight: bold;
  color: #333333;
  font-size: 12px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_v_item {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  font-size: 13px;
  color: #555555;
  margin-right: 30px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_active .p_fbutton {
  color: #fff;
  background-color: ef5b24;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_result_item {
  position: relative;
  padding: 3px 20px 3px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_filter_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  font-style: normal;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect {
  font-size: 13px;
  position: relative;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .inputWrap {
  width: 100%;
  min-width: 100px;
  min-height: 24px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background: white;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect.is-invalid .inputWrap {
  border-color: #dc3545;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect ul {
  padding: 0 5px;
  margin: 0;
  padding-right: 35px;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect ul,
li {
  list-style: none;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect li {
  display: inline-block;
  background: #edf0f3;
  color: #92969c;
  padding: 0px 5px;
  margin: 1px 5px 1px 0;
  border-radius: 5px;
  line-height: 16px;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .multSelect-option {
  width: 100%;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  border-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  height: 0;
  opacity: 0;
  z-index: 9;
  background: #fff;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .multSelect-option > div {
  line-height: 24px;
  cursor: pointer;
  padding: 0 10px;
}

#c_new_list_167-1694081979007
  .e_loop-3
  .multSelect
  .multSelect-option
  > div.selected {
  color: #ef5b24;
}

#c_new_list_167-1694081979007
  .e_loop-3
  .multSelect
  .multSelect-option
  > div:hover {
  color: #ef5b24;
  background: #f3f6f9;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .fa-close {
  font-style: normal;
  font-size: 12px;
  padding: 0 5px 0 7px;
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .inputWrap > .fa svg {
  fill: #666;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 3px);
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .inputWrap > .fa-down svg {
  transform: rotate(-90deg);
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .inputWrap > .fa-up svg {
  transform: rotate(90deg);
}

#c_new_list_167-1694081979007 .e_loop-3 .multSelect .placeholder {
  line-height: 40px;
  padding-left: 10px;
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_normal_start {
  display: inline;
  width: 60px;
  height: 22px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_date_start {
  display: inline;
  width: 105px;
  height: 22px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_normal_end {
  display: inline;
  width: 60px;
  height: 22px;
  margin-right: 5px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_date_end {
  display: inline;
  width: 105px;
  height: 22px;
  margin-right: 5px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_split {
  margin: 0 5px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_normal {
  margin-right: 16px;
}

#c_new_list_167-1694081979007 .e_loop-3 .p_fbutton {
  background-color: #ef5b24;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#c_new_list_167-1694081979007 .e_loop-3 .input-check,
#c_new_list_167-1694081979007 .e_loop-3 .input-radio {
  margin: 0 5px;
  vertical-align: text-top;
}

#c_new_list_167-1694081979007 .e_loop-3 .position-left {
  display: flex;
}

#c_new_list_167-1694081979007 .e_loop-3 .position-right {
  display: flex;
  flex-direction: row-reverse;
}

#c_new_list_167-1694081979007 .e_loop-3 .position-bottom {
  display: flex;
  flex-direction: column-reverse;
}

#c_new_list_167-1694081979007 .e_loop-3 {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

#c_new_list_167-1694081979007 .e_container-4 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#c_new_list_167-1694081979007 .e_image-5 {
  overflow: hidden;
  margin-left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-height: none;
}

#c_new_list_167-1694081979007 .e_image-5 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#c_new_list_167-1694081979007 .e_text-8 {
  line-height: normal;
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  margin-top: 40px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#c_new_list_167-1694081979007 .e_text-11 {
  line-height: 1.5;
  font-size: 14px;
  color: rgba(119, 119, 119, 1);
  margin-top: 20px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
}

#c_new_list_167-1694081979007 .e_container-4:hover {
  margin-top: -20px;
}

#c_new_list_167-1694081979007 .e_container-4:hover .e_text-8 {
  text-decoration: underline;
  color: rgba(3, 138, 3, 1);
}

#c_new_list_167-1694081979007 .e_loop-3 .p_loopitem:hover img {
  transform: scale(1.05);
  transition: all 0.6s;
}

@media screen and (max-width: 768px) {
  #c_new_list_167-1694081979007 .e_loop-3 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 1);
  }

  #c_new_list_167-1694081979007 .e_loop-3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #c_new_list_167-1694081979007 .e_container-4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  #c_new_list_167-1694081979007 .e_text-11 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #c_new_list_167-1694081979007 .e_image-5 {
    display: none;
  }

  #c_new_list_167-1694081979007 .e_text-8 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #c_new_list_167-1694081979007 .e_container-4 {
    width: auto;
  }

  #c_new_list_167-1694081979007 .e_loop-3 {
  }

  #c_new_list_167-1694081979007 .e_image-5 {
    max-height: 128px;
  }
}

#home-contact-us {
  min-height: 0px;
  background-fill-value: background-image;
  background-image: url(/home/images/home-bottom-global.jpg);
  padding-top: 3%;
  padding-bottom: 5%;
  background_radio: 2;
}

#home-contact-us .e_loop-1 .p_list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
}

#home-contact-us .e_loop-1 .p_loopitem {
  flex: 0 0 33.3%;
  position: relative;
}

#home-contact-us .e_loop-1 .p_page {
  text-align: center;
}

#home-contact-us .e_loop-1 .p_filter_wrapper {
  width: 100%;
  font-size: 13px;
}

#home-contact-us .e_loop-1 .p_kv_wrapper {
  display: flex;
  flex-wrap: nowrap;
  line-height: 40px;
  margin: 15px 0;
}

#home-contact-us .e_loop-1 .p_filter_key {
  width: 70px;
  overflow: hidden;
  margin-right: 10px;
  font-weight: bold;
  color: #333333;
  font-size: 12px;
}

#home-contact-us .e_loop-1 .p_v_item {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  font-size: 13px;
  color: #555555;
  margin-right: 30px;
}

#home-contact-us .e_loop-1 .p_active .p_fbutton {
  color: #fff;
  background-color: ef5b24;
}

#home-contact-us .e_loop-1 .p_result_item {
  position: relative;
  padding: 3px 20px 3px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

#home-contact-us .e_loop-1 .p_filter_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  font-style: normal;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}

#home-contact-us .e_loop-1 .multSelect {
  font-size: 13px;
  position: relative;
}

#home-contact-us .e_loop-1 .multSelect .inputWrap {
  width: 100%;
  min-width: 100px;
  min-height: 24px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background: white;
}

#home-contact-us .e_loop-1 .multSelect.is-invalid .inputWrap {
  border-color: #dc3545;
}

#home-contact-us .e_loop-1 .multSelect ul {
  padding: 0 5px;
  margin: 0;
  padding-right: 35px;
}

#home-contact-us .e_loop-1 .multSelect ul,
li {
  list-style: none;
}

#home-contact-us .e_loop-1 .multSelect li {
  display: inline-block;
  background: #edf0f3;
  color: #92969c;
  padding: 0px 5px;
  margin: 1px 5px 1px 0;
  border-radius: 5px;
  line-height: 16px;
}

#home-contact-us .e_loop-1 .multSelect .multSelect-option {
  width: 100%;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  border-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  height: 0;
  opacity: 0;
  z-index: 9;
  background: #fff;
}

#home-contact-us .e_loop-1 .multSelect .multSelect-option > div {
  line-height: 24px;
  cursor: pointer;
  padding: 0 10px;
}

#home-contact-us
  .e_loop-1
  .multSelect
  .multSelect-option
  > div.selected {
  color: #ef5b24;
}

#home-contact-us
  .e_loop-1
  .multSelect
  .multSelect-option
  > div:hover {
  color: #ef5b24;
  background: #f3f6f9;
}

#home-contact-us .e_loop-1 .multSelect .fa-close {
  font-style: normal;
  font-size: 12px;
  padding: 0 5px 0 7px;
}

#home-contact-us .e_loop-1 .multSelect .inputWrap > .fa svg {
  fill: #666;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 3px);
}

#home-contact-us .e_loop-1 .multSelect .inputWrap > .fa-down svg {
  transform: rotate(-90deg);
}

#home-contact-us .e_loop-1 .multSelect .inputWrap > .fa-up svg {
  transform: rotate(90deg);
}

#home-contact-us .e_loop-1 .multSelect .placeholder {
  line-height: 40px;
  padding-left: 10px;
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
}

#home-contact-us .e_loop-1 .p_normal_start {
  display: inline;
  width: 100px;
  height: 40px;
}

#home-contact-us .e_loop-1 .p_date_start {
  display: inline;
  width: 105px;
  height: 40px;
}

#home-contact-us .e_loop-1 .p_normal_end {
  display: inline;
  width: 100px;
  height: 40px;
  margin-right: 5px;
}

#home-contact-us .e_loop-1 .p_date_end {
  display: inline;
  width: 105px;
  height: 40px;
  margin-right: 5px;
}

#home-contact-us .e_loop-1 .p_split {
  margin: 0 5px;
}

#home-contact-us .e_loop-1 .p_normal {
  margin-right: 16px;
}

#home-contact-us .e_loop-1 .p_fbutton {
  background-color: #ef5b24;
  border: 1px solid #ef5b24;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
}

#home-contact-us .e_loop-1 .input-check,
.e_loop-1 .input-radio {
  margin: 0 5px;
  vertical-align: text-top;
}

#home-contact-us .e_loop-1 .position-left {
  display: flex;
}

#home-contact-us .e_loop-1 .position-right {
  display: flex;
  flex-direction: row-reverse;
}

#home-contact-us .e_loop-1 .position-bottom {
  display: flex;
  flex-direction: column-reverse;
}

#home-contact-us .e_loop-1 .p_mbutton {
  border: 1px solid #ef5b24;
  text-decoration: none;
  color: #ef5b24;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
}

#home-contact-us .e_loop-1 .p_mbutton:after {
  content: "";
  display: none;
  width: 16px;
  height: 16px;
  background-color: #ef5b24;
  -webkit-transform: skewY(-45deg);
  transform: skewY(360deg);
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

#home-contact-us .e_loop-1 .p_mbutton::before {
  content: "";
  display: none;
  width: 6px;
  height: 9px;
  border-right: #ffffff solid 2px;
  border-bottom: #ffffff solid 2px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  position: absolute;
  bottom: 5px;
  right: 4px;
  z-index: 2;
}

#home-contact-us .e_loop-1 .p_active .p_mbutton::before {
  display: block;
}

#home-contact-us .e_loop-1 .p_active .p_mbutton::after {
  display: block;
}

#home-contact-us .e_loop-1 .p_input_match {
  width: 100px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

#home-contact-us .e_loop-1 .p_filter_result {
  display: none;
}

#home-contact-us .e_loop-1 .p_contclear {
  cursor: pointer;
  display: none;
}

#home-contact-us .e_loop-1 .swiper-container {
  padding-bottom: 30px;
}

#home-contact-us .e_loop-1 .p_imgwrapper {
  width: 80px;
  height: 100px;
  overflow: hidden;
}

#home-contact-us .e_loop-1 .p_imgtitle {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  line-height: 20px;
}

#home-contact-us .e_loop-1 .p_imgwrapper img {
  width: 100%;
  object-fit: cover;
}

#home-contact-us .e_loop-1 .p_active .p_imgwrapper {
  border: 1px solid #ef5b24;
}

#home-contact-us .e_loop-1 .p_inputRangeSearch {
  padding: 7px 12px;
  background: #ef5b24;
  color: white;
  font-size: 14px;
  font-style: normal;
}

#home-contact-us .e_loop-1 .p_inputSearch {
  padding: 0px 17px;
  background: #ef5b24;
  color: white;
  font-size: 14px;
  font-style: normal;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 10px;
}

#home-contact-us .e_loop-1 .p_categoryActive {
  color: #ef5b24;
}

#home-contact-us .e_container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#home-contact-us .e_container-2 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-contact-us .e_icon-3 {
  width: auto;
  max-width: 50px;
  height: auto;
}

#home-contact-us .e_icon-3 .icon {
  margin: 0;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

#home-contact-us .e_text-4 {
  font-size: 18px;
  line-height: 2;
  margin-top: 15px;
}

#home-contact-us .e_text-5 {
  line-height: normal;
  font-family: "d2315a92-43f2-4244-ae4a-be696ae25d1a";
  font-size: 16px;
  margin-top: 15px;
  color: rgba(106, 106, 106, 1);
  max-height: none;
  height: 53px;
}

#home-contact-us .e_loop-1 {
  max-width: 1500px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 3%;
}

#home-contact-us .e_container-11 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 96%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#home-contact-us .e_container-11 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-contact-us .e_container-12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#home-contact-us .e_container-12 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

#home-contact-us .e_container-12 .cbox-12-0 {
  align-self: center;
}

#home-contact-us .e_text-13 {
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
}

#home-contact-us .e_text-14 {
  line-height: normal;
  font-size: 20px;
  color: rgba(238, 116, 31, 1);
}

#home-contact-us .e_image-15 {
  overflow: hidden;
  max-width: 105px;
}

#home-contact-us .e_image-15 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  #home-contact-us .e_loop-1 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 1);
  }

  #home-contact-us .e_container-12 {
    max-width: 206px;
  }

  #home-contact-us .e_container-12 .cbox-12-1 {
    align-self: center;
  }

  #home-contact-us .e_text-13 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }

  #home-contact-us .e_text-14 {
    font-size: 18px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-contact-us .e_image-15 {
    max-width: 90px;
  }

  #home-contact-us .e_icon-3 {
    width: 24px;
  }

  #home-contact-us .e_text-4 {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    margin-top: 5px;
  }

  #home-contact-us .e_text-5 {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    margin-top: 5px;
  }

  #home-contact-us .e_loop-1 .cbox-1:nth-child(odd) {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  #home-contact-us .e_loop-1 .cbox-1:nth-child(even) {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  #home-contact-us .e_container-2 {
    width: auto;
    max-width: none;
    min-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
  }

  #home-contact-us {
    background-image: url(/home/images/home-bottom-global.jpg);
    background-position: center left; 
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-contact-us .e_text-13 {
    font-size: 26px;
    color: #333333;
    line-height: 1.5;
  }

  #home-contact-us .e_text-14 {
    font-size: 22px;
    color: rgba(238, 116, 31, 1);
    line-height: 1;
  }

  #home-contact-us .e_text-5 {
    font-size: 15px;
    color: #333333;
    line-height: 1.5;
    height: 90px;
  }

  #home-contact-us .e_text-4 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
  }
}
