.product-menu-list {
  width: 100%;
  height: 700px;
  position: relative;
  background: url(/assets/image/car.jpg) repeat center center;
}

.product-menu-list .teamt {
  position: absolute;
  left: 3%;
  top: 15%;
  z-index: 99
}

.product-menu-list .teamt b {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  line-height: 1.5em;
  display: block;
  margin-top: 15px;
}

.product-menu-list .menu-list {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}

.product-menu-list .teamt h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.product-menu-list .teamt p {
  font-size: 14px;
  font-family: "arial";
  color: #fff;
}

.product-menu-list .menu-list a {
  display: block;
  width: calc((100% - 0px) / 5);
  float: left;
  border-right: 1px solid rgba(255, 255, 255, .2);
  height: 700px;
  overflow: hidden;
  position: relative;
}
/* .product-menu-list .menu-list a:hover{background-color: rgb(18 75 144 / 60%);} */
.product-menu-list .menu-list a:hover{background-color: #ef5a2494;}
.product-menu-list .menu-list a .product-item {
  position: absolute;
  left: 12%;
  width: 82%;
  bottom: 20%;
  z-index: 99;
  transition: all 0.5s;
}

.product-menu-list .menu-list a:hover .product-item {
  bottom: 50%;
}

.product-menu-list .menu-list a .product-item p {
  font-size:36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.product-menu-list .menu-list a .product-item b {
  font-size: 12px;
  color: #fff;
  font-family: "arial";
  display: block;
  font-weight: 400;
  margin-bottom: 15px;
}

.product-menu-list .menu-list a .product-item img {
  float: left;
}

.product-menu-list .menu-list a .product-item span {
  width: 90px;
  height: 1px;
  opacity: 0.3;
  background: #fff;
  display: block;
  float: left;
  margin-top: 13px;
  margin-left: 15px;
}

.product-menu-list .menu-list a>img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.5s;
  opacity: 0;
}

.product-menu-list .menu-list a:hover>img {
  opacity: 1;
}

.product-menu-list .menu-list a>p {
  font-size: 24px;
  color: #fff;
  font-family: "cdcbedad-c2d2-4fe9-82e7-c5079cdf9a64";
  position: absolute;
   bottom: 8%;
  left: 12%;
  opacity: 0;
  transition: all 0.8s;
  z-index: 99;
      line-height: 2;
  text-transform: uppercase;
}

.product-menu-list .menu-list a:hover>p {
  bottom: 15%;
  opacity: 1;
}

@media screen and (max-width:768px) {

  .product-menu-list .menu-list a {
    display: block;
    width: calc((100% - 0px) / 5);
    float: left;
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
    height: 350px;
    overflow: hidden;
    position: relative;
  }

  .product-menu-list {
    width: 100%;
    height: 350px;
    position: relative;
    background: url(/assets/car.jpg) repeat center center;
    background-attachment: fixed;
  }

  .product-menu-list .teamt {
    position: absolute;
    left: 3%;
    top: 15%;
    display: none;
    z-index: 99;
  }
  .product-menu-list .menu-list a .product-item p{font-size:14px;}

  .product-menu-list .menu-list a>img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.5s;
    opacity: 0;
  }

  .product-menu-list .menu-list a>p{
  font-size:12px;
  }
  .product-menu-list .menu-list a:hover .product-item {
    bottom: 50%;
}
  .product-menu-list .menu-list a:hover>p {
    bottom: 20%;
}
}